// BREAKPOINTS
$sm-screen-bp: 36em; // 576px
$md-screen-bp: 48em; // 768px
$lg-screen-bp: 62em; // 992px
$xl-screen-bp: 75em; // 1200px

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 36em) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 62em) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 75em) {
      @content;
    }
  }
}
