@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as v;

.navbar {
  position: fixed;
  padding: 0.8rem 1.8rem;
  z-index: 100;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$primaryColor;

  @include mix.respond(md) {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50%, -50%);

    width: max-content;
    background-color: transparent;

    padding: 1.6rem 0.8rem;
    border-radius: 10rem;
  }

  &__links {
    display: none;

    @include mix.respond(md) {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      align-items: center;
    }

    .item {
      border: 1px solid v.$primaryColor;
      // background-color: #fff4cc;

      padding: 0.8rem;
      border-radius: 50%;
      transition: all 0.2s;

      &:hover {
        background-color: v.$primaryColor;
      }
    }

    .icon {
      font-size: 2.4rem;
      color: inherit;
      transition: all 0.2s;

      &:hover {
        // color: #fff8de;
      }
    }
  }
}

.mobile__nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;

  background-color: v.$secondaryColor;
  height: 100vh;
  width: 45%;
  margin-top: 4.8rem;
  padding: 4.8rem 2.4rem;
  z-index: 100;

  font-size: 3rem;
  font-weight: 600;

  @include mix.respond(lg) {
    display: none;
  }
}
